@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .heroButton {
    @apply px-6 py-2 border border-tertiary rounded-full uppercase text-sm 
    tracking-widest text-gray-500 transition-all hover:border-primary/40 hover:text-primary;
  }

  h3.basic {
    @apply mx-auto w-full text-center absolute top-16 md:top-24 uppercase tracking-[10px] md:tracking-[20px] text-gray-500 text-xl md:text-2xl;
  }

  .component-basic {
    @apply pt-16 h-screen flex flex-col md:flex-row text-center md:text-left relative justify-evenly items-center mx-auto max-w-full overflow-hidden
  }

  .contactInput {
    @apply text-sm md:text-base outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-tertiary text-gray-500 placeholder-gray-500 transition-all focus:border-primary/40 focus:text-primary hover:border-primary/40;
  }

  .scrollbar-basic {
    @apply scrollbar-track-gray-400/20 scrollbar-thumb-primary/80 scrollbar-thin
  }
}